---
    {%- macro render_group(glist) %}
        hosts:
            {%- for i in glist %}
                {{ i['ip'] if 'host' not in i else i['host'] }}:
            {%- endfor %}
    {%- endmacro %}

    all:
        {%- if '' is in groups %}
            {{ render_group(groups['']) }}
        {%- endif %}
        children:
            {%- for k, v in groups.items() if k != '' %}
                {{ k }}:
                {{ render_group(v) }}
            {%- endfor %}