
resource "aws_ami_from_instance" "{{ resource }}" {
  name               = "{{ ami_name }}"
  source_instance_id = "{{ src_id }}"
  tags = {
    {% for tag in tags.items() %}
        {# {{ tag.key }} = {{ tag.value }} #}
    {% endfor %}
  }
}
